extends base.pug
block scripts
  script(src='../static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/styleAbout.css

block content
    section#aboutOne 
        |   This is section one 
    section#aboutTwo 
        |   This is section two
    section#aboutThree 
        |   This is section one 