doctype html
html
  head
    block scripts 
    block style
  body
    div#navbar  
        ul 
            div#logo 
                img(src="/static/img/c1.png", alt="logo not found")
            li #[a(href = "/cardetails") Car Details]
            li #[a(href = "/driverdetails") Driver Details]
            li #[a(href = "/bookingrequest") Booking Requests]
    block content      
    footer#footer 
        |   Copyright © 2021 www.wheelBox.com | All Rights Reserved. 