extends base3.pug 
block scripts
    script(src='../static/index.js') 
block style
    style
        include ../static/dashBoard.css
        include ../static/driverDetails.css
block content
    section#driverOne 
        |   This is section one 